h1 {
  font-size: 50px;
  color: #29a329;
  margin: 8% 0 2% 5%;
}

.title {
  font-size: 40px;
  font-style: italic;
  color: #00e6e6;
  margin: 1% 2%;
}

.intro {
  font-family: serif;
  font-size: 20px;
  color: green;
}

.main {
  font-family: sans-serif;
  font-size: 15px;
  color: blue;
}
